body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav button {
  border: none;
  color: white;
  padding: 20px 40px; /* Increase padding to make buttons larger */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; /* Increase font size to make text larger */
  font-weight: bold; /* Make text bold */
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 50px; /* Add border radius to make buttons round */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow to buttons */
}

nav button a {
  text-decoration: none; /* Remove underline from text */
  color: black; /* Change text color to white */
}

@keyframes shimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

button {
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  animation: shimmer 2s infinite;
}

main {
  margin: 20px;
}

section {
  display: flex;
  flex-direction: row; /* Arrange text and image side by side */
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}

section:nth-child(even) {
  background-color: #f0f0f0; /* Change this to the color you want for even sections */
}

section img {
  border-radius: 15px; /* Make images round */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Add shadow to images */
  width: 40%;
  height: auto;
  flex: 4;
}

section .text-content {
  flex: 6;
  padding: 0 60px;/* Text takes up 60% of the space */
}

section h2, section h3, section ul, section button {
  order: 1; /* Arrange text from top to bottom line by line */
}

section ul {
  list-style-type: decimal; /* Number the lists */
}
section .text-content button:last-child {
  margin-left: 60px;
}

section ul li span {
  font-weight: bold; /* Make the first sentence of the list bold */
}

section button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px; /* Make buttons round */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow to buttons */
  order: 2; /* Place buttons at the bottom of the text */
}

section:nth-child(even) button {
  background: white;
  color: black;
  background: linear-gradient(to right, #ffffff 8%, #dddddd 18%, #ffffff 33%);
  background-size: 800px 104px;
  animation: shimmer 2s infinite;
}

section button a {
  font-weight: 600;
  text-decoration: none; /* Remove underline from text */
  color: black; /* Change text color to black */
}
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

section:nth-child(even) img {
  order: 2;
}

section:nth-child(even) p {
  order: 1;
}



#backToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Dark background */
  color: white; /* White text */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#backToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  header, nav, main, footer {
    padding: 20px;
  }

  nav button {
    padding: 10px;
    font-size: 14px;
  }

  section {
    flex-direction: column;
  }

  section img, section p {
    width: 100%;
  }

  section button {
    padding: 10px;
    font-size: 14px;
  }

  table, th, td {
    font-size: 14px;
  }

  #backToTop {
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
  }
}
